 /* Global Styles */
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: Arial, sans-serif;
      line-height: 1.5;
      background-color: white;
    }
#banner{

padding:40px;
background-color: #fff;
}

@supports (font: -apple-system-body) {
  html {
    font: -apple-system-body;
  }
}

/* Style for the overlay */
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
