@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@supports (font: -apple-system-body) {
  html {
    font: -apple-system-body;
  }
}

/* Style for the overlay */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

* {
  margin: 0;
  padding: 0;
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", Arial, sans-serif;
  line-height: 1.5;
  font-size: 1.3rem;
  background: linear-gradient(
      to bottom left,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    ),
    linear-gradient(to right top, #ededed, #aeadb6);
  background-blend-mode: normal;
  max-width: 440px;
  margin: 0 auto;
  height: 100vh;
  color: white;
}
#content-container {
  background-color: #fff;
  height: 100%;
}

.gradient-background.content-question,
.gradient-background-flip.content-question {
  background-position: 0 0vw !important; /* Move the background 20vw lower */
  background-size: 100% calc(100% + 5vw) !important;
  min-height: calc(100% + 5vw);
}

#banner {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: 11;
  opacity: 1;
  transition: opacity 0.5s ease;
  max-width: 440px;
  padding: 0px;
  background-color: #fff;
}

.banner-hidden {
  opacity: 0 !important; /* Fully transparent */
  pointer-events: none; /* Prevent interaction while hidden */
}

@supports (font: -apple-system-body) {
  html {
    font: -apple-system-body;
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

header {
  padding: 0px 0;
  margin-bottom: 1rem;
  display: flex;
  align-items: center; /* Vertically center items */
  z-index: 10;
  justify-content: space-between;
  position: relative;
}

#back-button {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Add some spacing between the icon and title */
  z-index: 10;
}

#top-title {
  display: flex;
  align-items: center;
  flex: 1; /* Occupy remaining space */
  z-index: 10;
  justify-content: space-around;
  /*       margin-top:30vw;*/
}

#top-title h1 {
  font-size: 2rem;
}

#foot-title {
  margin: 0;
}

h1 {
  font-size: 1.2rem;
  margin: 0;
  z-index: 10;
}

/* Main Styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  z-index: 10;
}

.question-container {
  padding: 1rem;
  text-align: center;
  max-width: 100%;
  width: 600px;
  font-size: 1.5rem;
  font-weight: 900;
  z-index: 10;
  margin: 170px 0 120px 0;
}

#prompt-container {
  text-align: left;
  margin: 16px;
  z-index: 10;
}

.answer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-width: 80%;
  width: 600px;
}

.answer {
  background-color: transparent;
  border: 1px solid white;
  border-radius: var(--border-radius);
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 10;
}

@keyframes zoomBounceButton {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.05);
  } /* Scale up to 105% */
  100% {
    transform: scale(1);
  }
}

.correct {
  /* Add existing styles for .correct, if any */
  animation-name: zoomBounceButton;
  animation-duration: 0.25s; /* Adjust duration as needed */
  animation-timing-function: ease-out;
}

.answer.correct {
  display: flex; /* Use flexbox */
  position: relative;
  justify-content: center;
  background-color: #007b34;
  color: #fff;
  border: 1px solid #007b34;
  z-index: 10;
  align-items: center;
}

.answer.correct::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("correct.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
}

.answer.incorrect {
  display: flex; /* Use flexbox */
  position: relative;
  justify-content: center;
  background-color: #d32f2f;
  color: #fff;
  border: 1px solid #d32f2f;
  z-index: 10;
  align-items: center;
}

.answer.incorrect::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("close.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
}

.answer[disabled] {
  cursor: default;
}

footer p {
  margin: 0;
}

.prompt {
  margin: 20px auto;
  text-align: left;
  width: calc(100% - 32px);
}

.response {
  margin-bottom: 20px;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
  column-gap: 12px;
}

button {
  display: block;
  background-color: #007b34;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 10;
  font-size: 1.3rem;
  font-family: "Quicksand", Arial, sans-serif;
}

.button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

#challenge-toggle2 {
  display: block;
  background-color: transparent;
  color: var(--primary-button-color);
  border: none;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
  z-index: 10;
}

#countdown {
  margin: 0 0 0 16px;
  text-align: center;
  font-size: 2rem;
  z-index: 10;
  position: relative;
}

#game-over {
  text-align: center;
  font-size: 1.8rem;
  display: none;
  padding: 64px 0;
  z-index: 10;
  position: relative;
}

#page-link {
  margin-bottom: 32px;
}

@keyframes zoomBounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
  } /* Scale up to 120% */
  75% {
    transform: scale(0.8);
  } /* Scale up to 120% */
  100% {
    transform: scale(1);
  } /* Scale back to normal */
}

/* Score Styles */
.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 40px;
}

.score-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: var(--primary-circle-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.score-circle.small {
  width: 110px;
  height: 110px;
  font-size: 0.8em;
  display: none;
}

.score-label {
  font-size: 1.2em;
  margin-bottom: 0px;
}

.score-label-today {
  position: relative;
  top: 8px;
  font-size: 1.4em;
}

.score-value {
  font-size: 2em;
  font-weight: bold;
  color: black;
}

.score-value-today {
  font-size: 3em;
  font-weight: bold;
}

.score-container .correct-count,
.score-container .total-count {
  font-size: 41px;
  font-weight: 400;
  padding-bottom: 1px;
}

.score-label {
  margin-top: 10px;
  color: #3d4747;
  width: 80%;
  text-align: center;
  line-height: 1;
}

.prompt p {
  margin-bottom: 16px;
}

/* Centered Circle with Coin Background */
.gold-coin {
  width: 70px;
  height: 70px;
  background-image: url("coin2.png"); /* Update with the correct path */
  background-size: cover; /* Ensure the image covers the whole circle */
  background-position: center; /* Center the image */
  border-radius: 50%;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
  flex-direction: row;
  justify-content: center;
}

/* Centered Yellow Circle */
.circle {
  width: 70px;
  height: 70px;
  background-color: var(--primary-circle-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 8px;
}

.circle div {
  text-align: center;
}

.slash {
  font-size: 40px;
  font-weight: 100;
}

#footer-top {
  display: flex;
  flex-direction: row;
  z-index: 11;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: fixed;
  bottom: 24px;
  width: 100vw;
  max-width: 440px;
}

#overlay {
  z-index: 20;
}
.vclass {
  display: flex;
  flex-direction: column;
}

#content2 {
  margin: 0;
  z-index: 1;
}

section {
  margin: 32px;
  z-index: 1;
  position: relative;
  padding-top: 200px;
  line-height: 2;
}

main {
  max-width: 600px;
  position: relative;
  z-index: 1;
  margin-top: 75vw;
}

h2 {
  margin-bottom: 8px;
}

ol {
  margin-left: 16px;
}

header {
  text-align: center;
  position: relative;
  top: calc(40% - 100px);
  /* animation: sway 9s ease-in-out 1; */
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(4px); /* Blurs the background behind the text */
}

.text-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px); /* Blurs the background behind the text */
  width: 100%;
  height: 100%;
}

@keyframes sway {
  0%,
  100% {
    transform: rotateZ(0deg);
  }
  30%,
  70% {
    transform: rotateZ(3deg);
  }
  50% {
    transform: rotateZ(-2deg);
  }
}

.norm {
  background-color: var(--primary-button-color);
  border: 1px solid var(--primary-button-color);
  border-radius: var(--border-radius);
  color: #232e2e;
  cursor: pointer;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  transition: all 0.3s ease-in-out;
  min-width: 150px;
}

.pre-header {
  color: #3d4747;
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 32px;
  border: 0px;
  z-index: 1;
  margin: auto auto 0 auto;
  max-width: 440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 2.8rem;
  padding: 0 16px;
  width: 100%;
}

.full-bleed-image {
  background-image: url("tandem-balance-kelsey-right.png");
  background-size: 150%;
  background-position: 50% 5%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease;
}

#background-video {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 0;
  transition: opacity 1s ease;
  opacity: 1; /* Fully visible by default */
  max-width: 440px;
  margin: auto;
}

#video2 {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 20;
  transition: opacity 1s ease;
  max-width: 440px;
  margin: auto;
}

#header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Start with the arrow on the left */
  width: 100vw; /* Use full viewport width */
  padding: 10px;
  box-sizing: border-box;
  position: relative; /* Establish positioning context */
  border-bottom: 0.5px solid white;
}

.timer {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.timer-svg {
  transform: rotate(-90deg);
}

.timer-circle-bg {
  fill: none;
  stroke: transparent;
  stroke-width: 10;
}

.timer-circle {
  fill: none;
  stroke: white;
  stroke-width: 10;
}

.timer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  color: white;
}

#back-button {
  flex-shrink: 0;
  margin-right: 20px; /* Add spacing between arrow and title */
}

#foot-title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  position: absolute; /* Position title independently */
  left: 50%; /* Move to the horizontal center of the viewport */
  transform: translateX(-50%); /* Adjust for the title's width */
  width: max-content; /* Ensure the title only takes its content width */
  color: white; /* Match the white text from the image */
}

#switch-message {
  z-index: 20;
  color: white;
  position: relative; /* Absolute positioning */
  font-size: 3rem; /* Example: Large font size */
  text-align: center; /* Center align the text */
  padding-top: 6x;
  position: relative;
  top: -7px;
  height: 100%;
}

#score-container {
  position: absolute;
  left: 50%; /* Position the left edge of the element at the center of the parent */
  transform: translate(-50%, -50%);
  top: 26px;
}

#message-block {
  z-index: 10;
  position: relative;
  padding: 0;
  top: 60%;
}

#initial-countdown {
  color: white;
  font-size: 4rem; /* Example: Large font size */
  text-align: center; /* Center align the text */
}

#message {
  color: white;
  font-size: 2.5rem; /* Example: Large font size */
  text-align: center; /* Center align the text */
  margin-bottom: 50px;
}

header,
section {
  position: relative;
  top: 300px;
}

:root {
  --primary-button-color: #fff;
  --primary-circle-color: #ffbe80;
  --border-radius: 50px;
}

@keyframes shrinkBar {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
